<div class="page-main">
  <div class="page-content">
    <div class="page-content__main user-content">
      <% @user.errors.full_messages.each do |message| %>
        <div class="errors">
          <%= message %>
        </div>
      <% end %>
      
      <h1><%= @user.name %></h1>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit", {class: "user-content__edit-link"}) %>
      <% end %>
    </div>

    <div class="page-content__header">
      <h2 class="page-content__title">メモ一覧</h2>
      <span class="button">
        <%= link_to("メモ追加", "/posts/new", {class: "button_text"}) %>
      </span>
    </div>
    <div class="page-content__main">
      <% @posts.each do |post| %>
          <div class="posts-index">
            <div class="posts-index__items">
              <div class="posts-content">
                <%= link_to(post.name, "/posts/#{post.id}") %>
              </div>
              <div class="posts-menu">
                <%= link_to("編集", "/posts/#{post.id}", {class: "posts-menu__link"}) %>
                <%= link_to("削除", "/posts/#{post.id}/destroy", {method: "post", class: "posts-menu__link"}) %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
