<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page">
    <div class="header">
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("List App", "/posts/top", {class: "header-logo__link"}) %>
        <% else %>
          <%= link_to("List App", "/", {class: "header-logo__link"}) %>
        <% end %>
      </div>
      <div class="nav">
        <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
        <label for="mobile-menu" class="show-mobile-menu">Menu</label>
        <ul class="header-menus">
          <% if @current_user %>
            <li class="header-menus__items">
              <%= link_to("ユーザー一覧", "/users/index", {class: "header-menus__items_link"}) %>
            </li>
            <li class="header-menus__items">
              <%= link_to("投稿一覧", "/posts/index", {class: "header-menus__items_link"}) %>
            </li>
            <li class="header-menus__items">
              <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "header-menus__items_link"}) %>
            </li>
            <li class="header-menus__items">
              <%= link_to("ログアウト", "/logout", {method: "post", class: "header-menus__items_link header-menus__items_last"}) %>
            </li>
          <% else %>
            <li class="header-menus__items">
              <%= link_to("新規登録", "/signup", {class: "header-menus__items_link"}) %>
            </li>
            <li class="header-menus__items">
              <%= link_to("ログイン", "/login", {class: "header-menus__items_link header-menus__items_last"}) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
